<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpRuntime executionTimeout="999" maxRequestLength="524288000"/>
	</system.web>
	<system.webServer>
		
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="524288000" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>